gbm_noise_analysis/expression_matrix.csv
gbm_noise_analysis/results/01_noise_analysis/within_celltype_noise_data.csv
gbm_noise_analysis/02_expression_matrix.csv
gbm_noise_analysis/results/02_prepare_expression_data/02_expression_matrix.csv
gbm_noise_analysis/results/05_analyze_responsive_genes/05_gene_noise_with_responsiveness.csv
gbm_noise_analysis/results/03_calculate_expression_noise/03_gene_noise_metrics_complete.csv
gbm_noise_analysis/results/01_noise_analysis/noise_analysis_complete_data.csv